@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("./css/form.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#index {
  height: 100vh;
  overflow-y: hidden;
  font-family: "Rubik", sans-serif;
}
